body, *, html {
    background-color: rgb(254, 248, 242);
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

button:focus {
    outline: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: -2px;
}

.main {
    background-color: black ;
    width: 110vw;
    margin-left: -1vw;
    /* padding-left: 10vw;
    padding-right: 10vw; */
    padding-top: 82vh;
    display: flex;
    justify-content: space-between;
}

p {
    font-size: 18px;
}

#right-side {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.project {
    color: white;
    width: 22vw;
}